body {
  position: relative;
  width: 16rem;
  margin: 0 auto;
  background: #f3ecd1 url(../img/body-bg11.jpg) repeat;
  background-size: cover;
}

.container {
  width: 100%;
}

.container .person {
  overflow: hidden;
  width: 14.6133333333rem;
  height: 9.2373333333rem;
  margin: 0 auto 0.4266666667rem;
  padding: 0.64rem 0 0 0;
}

#chenlongJpg {
  height: 8.5333333333rem;
}

#chenlongGif {
  height: 8.5333333333rem;
}

.text-cont {
  width: 15.36rem;
  height: 2.2826666667rem;
  margin: 0 auto 0.5333333333rem;
  background: url(../img/text.png) no-repeat;
  background-size: cover;
  font: 0.5546666667rem/0.6826666667rem "simhei";
  color: #fff6d1;
  text-align: center;
}

.text-cont .text {
  padding: 0.4266666667rem 1.7066666667rem;
}

.text-cont .num {
  font-size: 0.64rem;
  color: #ffdd54;
}

.text-cont .time {
  float: left;
  width: 3.2rem;
  height: 1.4933333333rem;
  margin-left: 1.0666666667rem;
  padding: 0 0 0 0.96rem;
  background: url(../img/text-time-icon.png) no-repeat 0 50%;
  font: 0.8106666667rem/1.4933333333rem "simhei";
  color: #ebe5ca;
}

.text-cont .time .time-num {
  float: left;
  margin-right: 0.1066666667rem;
  font: 1.152rem/1.4933333333rem "Arial";
  color: #fff229;
}

.text-cont .num-list {
  float: right;
  width: 5.5466666667rem;
  margin-right: 0.8533333333rem;
  font: 0.8106666667rem/1.4933333333rem "simhei";
}

.text-cont .num-list span {
  float: left;
}

.text-cont .num-list .num-bg {
  width: 1.0666666667rem;
  height: 1.5146666667rem;
  margin-right: 0.064rem;
  background: url(../img/text-num-bg.png) no-repeat;
  background-size: cover;
  font: 1.3653333333rem/1.4933333333rem "Arial";
  color: #fff228;
  text-align: center;
}

.duang-cont {
  position: relative;
  width: 12.8rem;
  margin: 0 auto;
  margin-top: 1.28rem;
}

.record {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  height: 1.0666666667rem;
  margin-top: -px2rem(5);
  font: 0.5546666667rem/1.0666666667rem "simhei";
  color: #141f31;
  text-decoration: underline;
}

.btn-duang {
  display: block;
  width: 10.6666666667rem;
  height: 7.5946666667rem;
  margin: 0 auto;
  background: url(../img/btn-duang.png) no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-touch-callout: none;
  touch-callout: none;
}

.btn-duang .duang {
  position: relative;
  width: 100%;
  height: 100%;
}

.duang-cont .hand {
  position: absolute;
  top: 4.6933333333rem;
  right: 0.8533333333rem;
  width: 4.7146666667rem;
  height: 5.0133333333rem;
  background: url(../img/hand.png) no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  display: inline-block;
  width: 16rem;
  height: 2.816rem;
  background: url(../img/btn-bottom.png) no-repeat;
  background-size: 100% 2.816rem;
  font-size: 0;
}

.footer .btn {
  display: inline-block;
  width: 33%;
  padding-top: 0.4266666667rem;
  font: 0.8533333333rem/2.1333333333rem "simhei";
  color: #e7ddb5;
}

@media (max-width: 640px) {
  .duang-cont {
    margin-top: 30px;
  }
  .duang-cont .hand {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */